{template 'common/header'}
<script src="/addons/hc_pdd/template/js/color.js"></script>
<ul class="nav nav-tabs">
	<li><a href="{php echo $this->createWebUrl('icon')}">图标列表</a></li>
	<li><a href="{php echo $this->createWebUrl('icon_post')}">添加图标</a></li>
	<li class="active"><a href="{php echo $this->createWebUrl('icon_set')}">设置</a></li>
</ul>
<div class="clearfixcon">
	<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1" style="display: block">
		<div class="panel panel-default con" id="tab3">
		    <div class="panel-heading">
				设置
			</div>
			<div class="panel-body">
				<div class="tab-pane active" id="tab_param2">
				    <div class="form-group">
				        <label class="col-xs-12 col-sm-3 col-md-2 control-label">小图标显示位置</label>
				        <div class="col-sm-9 col-xs-12">
					    <label class="radio-inline">
						   <input type="radio" name="icon_position" {if $info['icon_position'] == 0} checked {/if} value="0">竖向排列在首页右侧
					    </label>
					    <label class="radio-inline">
						   <input type="radio" name="icon_position" {if $info['icon_position'] == 1} checked {/if} value="1">横向排列在背景图下方
					    </label>
				        </div>
			        </div>              		  
				</div>
			</div>
		</div>

		<div class="form-group col-sm-12">
			<input name="submit" type="submit" value="提交" class="btn btn-primary col-lg-1" {if $update_status == 1}disabled{/if}>
			<input type="hidden" name="act" value="add" />
		</div>
	</form>
</div>




{template 'common/footer'}